input,
textarea,
button {
  height: 40px;
  width: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.428);
}
button {
  background-color: rgb(92, 182, 60);
  margin-top: 20px;
  font-size: 1rem;
}
.read-more-button {
  height: 30px;
  width: 120px;
  margin: 20px;
  background-color: rgb(43, 198, 15);
}

label {
  font-size: 1.5rem;
}
